*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

footer, #contact .form .social-media, #contact, #team .cards, #team, #portfolio .modal .content, #portfolio .modal, header .text-container, header .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
}
header .img-container {
  width: 50%;
  text-align: left;
}
header .img-container img {
  width: 20vw;
  transition: 0.8s;
}
header .img-container img:hover {
  width: 25vw;
}
header .text-container {
  flex-direction: column;
}
header .text-container .content {
  width: 80%;
  margin: auto;
  text-align: center;
}
header .text-container .content h1 {
  text-align: left;
}
header .text-container .content p {
  font-size: 24px;
  color: #4B4B46;
  line-height: 1.5;
  margin-bottom: 40px;
  margin-top: 18px;
  text-align: left;
}
header .text-container .content .cta {
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 12px;
  background-color: #626056;
  color: #FAF9E0;
  transition: background-color 0.4s;
  text-align: center;
}
header .text-container .content .cta:hover {
  background-color: #3B3A34;
}
header .text-container .content .cta:active {
  background-color: #161614;
}

@media screen and (max-width: 780px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .img-container img {
    width: 30vw;
  }
  header .img-container img:hover {
    width: 30vw;
  }
  header .text-container {
    margin-top: 30px;
  }
}
#portfolio {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#portfolio h1 {
  margin: 50px auto;
}
#portfolio .gallery {
  background-color: #ECEBD3;
  min-height: 55vh;
  width: 65vw;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#portfolio .gallery .card {
  padding: 5px;
}
#portfolio .gallery .card img {
  width: 200px;
  height: 200px;
  transition: 0.5s;
}
#portfolio .gallery .card img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
#portfolio .ctas .contactCta {
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 12px;
  background-color: #626056;
  color: #FAF9E0;
  transition: background-color 0.4s;
  text-align: center;
}
#portfolio .ctas .contactCta:hover {
  background-color: #3B3A34;
}
#portfolio .ctas .contactCta:active {
  background-color: #161614;
}
#portfolio .ctas .teamCta {
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 12px;
  background-color: rgba(98, 96, 86, 0.3);
  color: #4B4B46;
  transition: background-color 0.4s;
  text-align: center;
}
#portfolio .modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
#portfolio .modal .bx {
  color: #FAF9E0;
  font-size: 48px;
  margin: auto 15px;
}
#portfolio .modal .bx:hover {
  cursor: pointer;
}
#portfolio .modal .bx-x {
  position: absolute;
  top: 10px;
  right: 20px;
}
#portfolio .modal .content .bx-left-arrow-alt {
  position: absolute;
  left: 10vw;
}
#portfolio .modal .content .bx-right-arrow-alt {
  position: absolute;
  right: 10vw;
}
#portfolio .modal .content img {
  height: 550px;
  max-width: 70vw;
}

@media screen and (max-width: 780px) {
  #portfolio h1 {
    margin: 30px;
    text-align: center;
  }
  #portfolio .gallery {
    margin-bottom: 0px;
  }
  #portfolio .ctas {
    display: flex;
    flex-direction: column;
  }
  #portfolio .ctas a {
    margin: 10px;
    text-align: center;
  }
  #portfolio .modal .content img {
    height: auto;
    max-width: 60vw;
  }
}
@media screen and (max-width: 550px) {
  #portfolio .content .bx-left-arrow-alt {
    position: absolute;
    left: 10vw;
    bottom: 80px;
  }
  #portfolio .content .bx-right-arrow-alt {
    position: absolute;
    right: 10vw;
    bottom: 80px;
  }
}
#team {
  height: 100vh;
  max-width: 100vw;
  flex-direction: column;
}
#team h1 {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}
#team .cards {
  width: 80%;
  justify-content: space-around;
  flex-wrap: wrap;
}
#team .cards .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  width: 20vw;
  min-height: 60vh;
  background-color: #ECEBD3;
  transition: 0.2s;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
#team .cards .card .andrea {
  background-image: url("../img/people.jpg");
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#team .cards .card .jhon {
  background-image: url("../img/people 2.jpg");
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#team .cards .card .text-content {
  width: 90%;
  margin-top: 25px;
}
#team .cards .card .text-content h2 {
  text-align: left;
  font-size: 36px;
  color: #3B3A34;
  margin-bottom: 10px;
}
#team .cards .card .text-content p {
  text-align: left;
  font-size: 16px;
  color: #4B4B46;
  height: 10vh;
}
#team .cards .card a {
  color: #3B3A34;
  font-size: 36px;
}
#team .cards .card:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 780px) {
  #team {
    height: 200vh;
  }
  #team .cards {
    flex-direction: column;
  }
  #team .cards .card {
    width: 70vw;
    margin: 25px auto;
  }
  #team .cards .card .andrea {
    background-image: url("../img/people.jpg");
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #team .cards .card .jhon {
    background-image: url("../img/people 2.jpg");
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
#contact {
  min-height: 100vh;
  max-width: 100vw;
}
#contact .form {
  width: 45%;
  min-height: 60vh;
  padding: 45px 20px;
}
#contact .form p {
  margin-top: 8px;
  font-size: 18px;
  color: #4B4B46;
  line-height: 1.5;
}
#contact .form .form-group {
  position: relative;
  margin: auto;
  margin-top: 20px;
  padding: 15px 0 0;
  /* reset input */
}
#contact .form .form-group .form_field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #3B3A34;
  outline: 0;
  font-size: 1.2rem;
  color: #3B3A34;
  padding: 7px 0;
  background-color: transparent;
  transition: border-color 0.2s;
}
#contact .form .form-group .form_field::placeholder {
  color: transparent;
}
#contact .form .form-group .form_field:placeholder-shown ~ .form__label {
  font-size: 1.2rem;
  cursor: text;
  top: 20px;
}
#contact .form .form-group .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #4B4B46;
}
#contact .form .form-group .form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
}
#contact .form .form-group .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #4B4B46;
  font-weight: 700;
}
#contact .form .form-group .form__field:required, #contact .form .form-group .form__field:invalid {
  box-shadow: none;
}
#contact .form .correo {
  margin-bottom: 50px;
}
#contact .form .cta {
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 12px;
  background-color: #626056;
  color: #FAF9E0;
  transition: background-color 0.4s;
  text-align: center;
}
#contact .form .cta:hover {
  cursor: pointer;
  background-color: #3B3A34;
}
#contact .form .cta:active {
  background-color: #161614;
}
#contact .form .social-media {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  justify-content: space-around;
}
#contact .form .social-media i {
  font-size: 36px;
  color: #3B3A34;
  transition: 0.2s;
}
#contact .form .social-media i:hover {
  transform: scale(1.2);
}
#contact .ubication {
  padding: 45px 20px;
  width: 45%;
}
#contact .ubication p {
  margin-bottom: 15px;
  font-size: 18px;
  color: #4B4B46;
}
#contact .ubication #map {
  width: 100%;
  min-height: 400px;
}

@media screen and (max-width: 780px) {
  #contact {
    flex-direction: column;
  }
  #contact .form {
    width: 90%;
  }
  #contact .ubication {
    width: 90%;
  }
}
footer {
  text-align: center;
  background-color: #3B3A34;
  min-height: 15vh;
  max-width: 100vw;
}
footer p {
  color: #FAF9E0;
  line-height: 1.5;
}
footer p a {
  color: #FAF9E0;
  font-weight: bold;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Castoro", serif;
  background-color: #FAF9E0;
  max-width: 100vw;
}

h1 {
  font-size: 48px;
  color: #3B3A34;
}

/*# sourceMappingURL=style.css.map */
