@import "reset";
@import "variables";
@import "header";
@import "portfolio";
*{scroll-behavior: smooth;}
body{font-family: $font-stack; background-color: $back-color; }
h1{font-size: $f-size-main-title; color: $title-color;}

